<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795200382606-1nkgsrm42trtrob0fknbau4drrjseqsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795200382606-1nkgsrm42trtrob0fknbau4drrjseqsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDL0iYxRBypPl2b32ZlWUzY3C1_unE-qgg</string>
	<key>GCM_SENDER_ID</key>
	<string>795200382606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mirror.fly</string>
	<key>PROJECT_ID</key>
	<string>mirror-fly</string>
	<key>STORAGE_BUCKET</key>
	<string>mirror-fly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:795200382606:ios:ed5188f2883b61f4</string>
	<key>DATABASE_URL</key>
	<string>https://mirror-fly.firebaseio.com</string>
</dict>
</plist>
