<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UiKitQa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UiKitQaNotificationExtention.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>notificationextention.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEA2F92426569C590013F5E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC08A9C27E23B0D005E48C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEC08B6227E23B9F005E48C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDF3CCA2950A660009D3F7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
